

a:hover,
body,
h1:hover {
    color: #fff
}

a,
h1 {
    transition: color .5s ease
}

.icon-big,
.icon-small,
.scrollmenu a {
    text-decoration: none
}

body {
    background-color: orange;
    margin: 0;
    text-align: center;
}

.photos,
.photos-big,
.website {
    margin-top: 15px;
    margin-bottom: 15px
}

a {
    color: orange
}

h1 {
    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif
}

.container {
    display: flex;
    justify-content: space-between;
    color: #000;
    flex-wrap: wrap
}

.black {
    background-color: #000;
    color: orange
}

.orange,
.scrollmenu {
    background-color: orange
}

.orange {
    color: #000
}

.col {
    flex: 1;
}

.col-sp {
    flex: 1.2;
}

#avatar {
    max-width: 350px;
    max-height: 450px
}

#avatar:hover {
    content: url(images/alex-glow.png)
}

.icon-big {
    display: block!important;
    padding: 36px
}

.icon-small {
    display: none!important
}

.photos {
    width: 400px;
    height: 300px;
    border: 3px solid orange
}

.photos-big,
.website {
    height: 500px
}

.website {
    width: 600px;
    border: 3px solid #000
}

.photos-big {
    width: 1000px;
    border: 3px solid orange
}

.scrollmenu {
    overflow: auto;
    white-space: nowrap
}

.scrollmenu a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 14px
}

.scrollmenu a:hover {
    background-color: #000
}

@media screen and (max-width:800px) {
    #avatar {
        max-width: 200px;
        max-height: 250px
    }
    .photos,
    .photos-big {
        width: 300px;
        height: 200px;
        border: 3px solid orange;
        margin-top: 10px
    }
    .website {
        width: 300px;
        height: 250px;
        border: 3px solid #000;
        margin-top: 15px;
        margin-bottom: 15px
    }
    .icon-big {
        display: none!important
    }
    .icon-small {
        display: block!important;
        padding-top: 30px
    }
    h1 {
        font-size: 20px
    }
}